/*global*/
/*globla reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
}

html {
  font-size: 62.5%;
  /*1 rem = 10px*/
}

body {
  background-color: #E5E5E5;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  /*makes img fit in their containers*/
  max-width: 100%;
  display: block;
}

/*colors*/
/*mixins*/
/*sections*/
.white-outside-border {
  width: 100%;
  max-width: 200rem;
  height: 100%;
  margin: auto;
  background-color: #ffffff;
  padding: 1.5%;
}

.white-outside-border .hero {
  width: 100%;
  max-width: 200rem;
  height: 55rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../Image/LandingPage-Photos/marmor.jpg);
}

.white-outside-border .hero .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2d3032ce;
  width: 100%;
  max-width: 75rem;
  height: 30rem;
  position: relative;
}

.white-outside-border .hero .textContainer .hero-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 63rem;
  height: 60%;
  border: 2.5px solid #9615DB;
}

.white-outside-border .hero .textContainer .hero-article .hero-subHeading {
  color: #C18FFF;
  letter-spacing: 0.8rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 11%;
}

.white-outside-border .hero .textContainer .hero-article h1 {
  color: #ffffff;
  font-size: 5rem;
}

.white-outside-border .hero .textContainer .hero-borderHeading {
  background-color: #4a4f50;
  /*importent: this removes broder*/
  padding: 0 1.5rem;
  color: #C18FFF;
  letter-spacing: 0.8rem;
  position: absolute;
  bottom: 5.2rem;
  right: 14%;
}

.white-outside-border .hero .header-btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  max-width: 63rem;
  height: 8rem;
}

.white-outside-border .hero .header-btnContainer .hero-btn {
  background-color: #2d3032ce;
  width: 18rem;
  height: 5rem;
  color: #C18FFF;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
}

.white-outside-border .hero .header-btnContainer .hero-btn:hover {
  cursor: pointer;
  background-color: #2D3032;
}

.gridContainer {
  width: 100%;
  max-width: 210rem;
  height: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  padding: 3rem 0;
  row-gap: 0.8%;
  -webkit-column-gap: 1%;
          column-gap: 1%;
}

.gridContainer .grid-item {
  position: relative;
  /*img classes for changing images to colors*/
  /*grid overlappng btns on item 3,5,7*/
}

.gridContainer .grid-item img {
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.gridContainer .grid-item .FilterImage {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.gridContainer .grid-item .FilterImage:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.gridContainer .grid-item .grid-navButton {
  position: absolute;
  top: 0;
  background-color: #2d3032a2;
  width: 100%;
  height: 25%;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.gridContainer .grid-item .grid-navButton .navLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(2.8rem - 100%);
  color: #ffffff;
  width: 100%;
  max-width: inherit;
  height: 100%;
  max-height: inherit;
}
/*# sourceMappingURL=index.css.map */