/*global*/
/*globla reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black; }

html {
  font-size: 62.5%;
  /*1 rem = 10px*/ }

body {
  background-color: #E5E5E5; }

input,
button,
textarea,
select {
  font: inherit; }

img {
  /*makes img fit in their containers*/
  max-width: 100%;
  display: block; }

/*colors*/
/*mixins*/
.portfolio_area .portfolio_inner {
  display: flex; }
  .portfolio_area .portfolio_inner .portfolio_left {
    flex: 1;
    position: relative; }
    .portfolio_area .portfolio_inner .portfolio_left .left_portfolio_bg {
      height: calc(75% - 25px);
      width: 100%;
      background: #2D3032; }
    .portfolio_area .portfolio_inner .portfolio_left .portfolio_content {
      border: 2px solid #9615DB;
      padding: 30px;
      position: absolute;
      left: 50%;
      bottom: 40px;
      transform: translate(-50%, 0px);
      width: 350px;
      height: 80%; }
      .portfolio_area .portfolio_inner .portfolio_left .portfolio_content .content_top {
        padding-right: 120px;
        position: absolute;
        top: 80px; }
        .portfolio_area .portfolio_inner .portfolio_left .portfolio_content .content_top h3 {
          font-size: 4rem;
          color: #ffffff;
          text-transform: uppercase;
          margin-bottom: 20px; }
        .portfolio_area .portfolio_inner .portfolio_left .portfolio_content .content_top p {
          color: #ffffff; }
          .portfolio_area .portfolio_inner .portfolio_left .portfolio_content .content_top p span {
            color: #9615DB; }
      .portfolio_area .portfolio_inner .portfolio_left .portfolio_content .content_bottom {
        text-align: right;
        padding: 0px 30px 30px 100px;
        position: absolute;
        bottom: 0; }
  .portfolio_area .portfolio_inner .portfolio_right {
    flex: 1.3;
    width: 70%;
    padding: 30px 60px; }
    .portfolio_area .portfolio_inner .portfolio_right .portfolio_right_area {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .portfolio_area .portfolio_inner .portfolio_right .portfolio_right_area .single_img {
        margin-right: 12px; }
      .portfolio_area .portfolio_inner .portfolio_right .portfolio_right_area .double_img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .portfolio_area .portfolio_inner .portfolio_right .portfolio_right_area .double_img .double_img_area {
          margin: 6px 0px; }
      .portfolio_area .portfolio_inner .portfolio_right .portfolio_right_area .img_css {
        width: 300px;
        height: 300px;
        position: relative;
        overflow: hidden; }
        .portfolio_area .portfolio_inner .portfolio_right .portfolio_right_area .img_css::before {
          position: absolute;
          top: 0;
          left: -75%;
          z-index: 2;
          display: block;
          content: '';
          width: 50%;
          height: 100%;
          background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
          background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
          -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg); }
        .portfolio_area .portfolio_inner .portfolio_right .portfolio_right_area .img_css:hover::before {
          -webkit-animation: shine .75s;
          animation: shine .75s; }
@-webkit-keyframes shine {
  100% {
    left: 125%; } }
@keyframes shine {
  100% {
    left: 125%; } }
        .portfolio_area .portfolio_inner .portfolio_right .portfolio_right_area .img_css img {
          -webkit-transform: rotate(10deg) scale(1.3);
          transform: rotate(10deg) scale(1.3);
          -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
          width: 100%;
          height: 100%;
          object-fit: cover; }
        .portfolio_area .portfolio_inner .portfolio_right .portfolio_right_area .img_css:hover img {
          -webkit-transform: rotate(0) scale(1);
          transform: rotate(0) scale(1); }

footer {
  background: #9615DB;
  padding: 30px 80px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left; }
  footer a {
    color: #ffffff;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    overflow: hidden;
    display: inline-block; }
    footer a::before {
      width: 100%;
      height: 2px;
      background: #ffffff;
      position: absolute;
      content: "";
      left: 100%;
      bottom: 0;
      transition: all 0.3s ease-in-out; }
    footer a:hover::before {
      left: 0;
      transition: all 0.3s ease-in-out; }
  footer ul {
    margin-left: auto;
    list-style: none; }
    footer ul li {
      padding: 0px 12px;
      display: inline-block; }

html {
  font-family: 'Josefin Sans', sans-serif; }

body {
  background: #ffffff; }

p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px; }

a {
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.3px; }

/*# sourceMappingURL=portfolio.css.map */
