.white-outside-border{
    @include SectionSize(100%);
    background-color: $light-BackgroundColor;
    padding:5rem;

    .hero{
        @include SectionSize(50rem);
        @include flex(column, flex-start, center);
        background-color: lightgray;

        .textContainer{
            @include flex(column, center, center);
            background-color: $dark-BackgroundColor-dim;
            width: 100%;
            max-width: 75rem;
            height: 30rem;
        }

        .header-btnContainer{
            @include flex(row, space-between, flex-end);
            width: 100%;
            max-width: 43rem;
            height: 8rem;

            .hero-btn{
                background-color: $dark-BackgroundColor-dim;
                width: 20rem;
                height: 5rem;

                color: $Light-Maincolor;

                border:none;
                border-radius: 0;
            }
        }
    }

}