.gridContainer{
    width: 100%;
    max-width: 210rem;
    height: 100%;
    margin:auto;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    padding:3rem 0;
    gap: 2rem;
    

    .grid-item{

        img{
            object-fit: cover;
            margin: auto;
        }
    }
}