.white-outside-border{
    @include SectionSize(100%);
    background-color: $light-BackgroundColor;
    padding:4rem;

    .hero{
        @include SectionSize(55rem);
        @include flex(column, flex-start, center);
        background: url(/Image/LandingPage-Photos/marmor.jpg);

        .textContainer{
            @include flex(column, center, center);
            background-color: $dark-BackgroundColor-dim;
            width: 100%;
            max-width: 75rem;
            height: 30rem;
        }

        .header-btnContainer{
            @include flex(row, space-between, flex-end);
            width: 100%;
            max-width: 63rem;
            height: 8rem;

            .hero-btn{
                background-color: $dark-BackgroundColor-dim;
                width: 18rem;
                height: 5rem;

                color: $Light-Maincolor;

                border:none;
                border-radius: 0;

                text-transform: uppercase;
            }
        }
    }

}